<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="suite1">
	<test verbose="2" name="test1">
		<classes>
				<class name="testCases.DatabaseCheckDE1" />
  <!--    		<class name="testCases.DatabaseCheckDE2" />           -->
				<class name="testCases.DatabaseCheckChecker" />
			
		</classes>
	</test>
</suite>